/*****  Structural Styles  *****/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

/*****  Navbar Styles  *****/
#navbar {
    background: #646a70;
    font-size: 1.25rem;
}

.nav-item
{
    padding: 1.25rem 0;
}

.nav-item:hover {
    background: #f8f9fa;
    opacity: 0.8;
    color: #3bc23e;
    transition: 0.3s;
}

.logout-button{
    position: absolute;!important;
    bottom: 0;!important;
    margin-top: auto;
    width: 100%;!important;
    left: auto;!important;
    right: auto;!important;
}





.steps {
    text-decoration: none;
}
.steps:hover {
    text-decoration: none;
}

#form {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#form fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

#form fieldset:not(:first-of-type) {
    display: none
}

#form .previous-step, .next-step {
    width: 120px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#submit {
    width: 140px;

}

.form, .previous-step {
    background: #616161;
}

.form, .next-step {
    background: #2F8D46;
}

#form .previous-step:hover,
#form .previous-step:focus {
    background-color: #000000
}

#form .next-step:hover,
#form .next-step:focus {
    background-color: #1c5a2b
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #2F8D46
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 16.6%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    content: "1"
}

#progressbar #step2:before {
    content: "2"
}

#progressbar #step3:before {
    content: "3"
}

#progressbar #step4:before {
    content: "4"
}

#progressbar #step5:before {
    content: "5"
}

#progressbar #step6:before {
    content: "6";
    /*content: url("../images/check-icon.svg");*/
    /*position: center;*/
    /*color: #702963;*/
}



#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #2F8D46
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #2F8D46
}

/*HEADER STYLES*/
header {
    padding-top: 50px;
    height: 20em;
    background: url(../images/gr-forestry.jpg) no-repeat scroll;
    background-size: cover;
}

@media (min-width: 800px) {
    header {
        background: url(../images/gr-forestry-md.jpg) no-repeat scroll;
        height: 20em;
        background-size: cover;
    }
}

@media (min-width: 1200px) {
    header {
        background: url(../images/gr-forestry-lg.jpg) no-repeat scroll;
        height: 20em;
        background-size: cover;
    }
}

#header {
    background-color: #287b3dc7;
    width: 80%;
    text-shadow: 2px 2px black;
}

@media (max-width: 662px) {
    #header {
        width: 100%;
    }
}

@media (max-width: 376px) {
    header {
        background: none;
        padding-top: 0;
    }

    #header {
        background-color: #287b3d;
    }
}